/* LESS Document */
/*配色*/
/*背景色*/
/*主题色*/
/*强调色*/
/*字体颜色*/
/*配色*/
a:link {
  color: #d3d0cb;
  text-decoration: none;
}
a:visited {
  color: #d3d0cb;
  text-decoration: none;
}
a:hover {
  color: #d3d0cb;
  text-decoration: none;
}
a:active {
  color: #d3d0cb;
  text-decoration: none;
}
/*字体*/
h1 {
  font-size: 1.2em;
  text-align: center;
}
html body {
  background: #22272b;
}
.end {
  margin-right: 0 !important;
}
.clear {
  clear: both;
}
/*流布局均等排列 */
/*流布局均等排列 */
/*流布局元素排列 */
/*流布局元素排列 */
/* modules less */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #d3d0cb;
}
footer li {
  width: 20%;
  margin-right: 0;
  float: left;
  background: #22272b;
  text-align: center;
}
footer li .footer-icon {
  width: 2em;
  height: 2em;
  color: #d3d0cb;
}
footer li .footer_icon_big {
  color: #e8bd6f;
}
footer .footer_bt {
  height: 70%;
  margin-top: 20%;
  padding: 10% 0 5% 0;
  background: #0b0d0f;
}
footer .footer_bt_2 {
  border-radius: 0 1em 0 0;
}
footer .footer_bt_4 {
  border-radius: 1em 0em 0 0;
}
footer .footer_bt_active {
  color: #e8bd6f;
}
footer .footer_bt_active .footer-icon {
  color: #e8bd6f;
}
footer .footer_txt {
  font-size: 0.5em;
}
footer .li_3 {
  background: #0b0d0f;
}
footer .footer_live {
  width: 100%;
  height: 90%;
  background: #22272b;
  border-radius: 0 0 50% 50%;
  padding-top: 10%;
}
footer .footer_live_bt {
  width: 80%;
  height: 91%;
  margin: 0 10%;
  border-radius: 50%;
  background: #0b0d0f;
}
