@import 'color.less';
@import 'layout.less';


/* modules less */



	footer{
    width: 100%;
    background: lighten(@bg_color,20%);
    position: fixed;
    bottom: 0;
    li{
      .row_span(5,0);
    }
  }






  