@import 'color.less';
@import 'layout.less';


/* modules less */



	header{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background:#333539;
    opacity: 0.7;
    
 
    .header_l{
      width: 30%;
      float: left;
    }

    .header_m{
      width: 30%;
      float: left;
      text-align: center;
      color: #FFF;
      padding-top: 0.5em;
      font-size: 1.2em;
      img{
        width: 100%;
      }
    }

    .header_r{
      width: 40%;
      float: left;
      color: @text_color;
      padding-top: 0.8em
    }

  }






  