/* LESS Document */
/*配色*/
/*背景色*/
/*主题色*/
/*强调色*/
/*字体颜色*/
/*配色*/
a:link {
  color: #d3d0cb;
  text-decoration: none;
}
a:visited {
  color: #d3d0cb;
  text-decoration: none;
}
a:hover {
  color: #d3d0cb;
  text-decoration: none;
}
a:active {
  color: #d3d0cb;
  text-decoration: none;
}
/*字体*/
h1 {
  font-size: 1.2em;
  text-align: center;
}
html body {
  background: #22272b;
}
.end {
  margin-right: 0 !important;
}
.clear {
  clear: both;
}
/*流布局均等排列 */
/*流布局均等排列 */
/*流布局元素排列 */
/*流布局元素排列 */
/* modules less */
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background: #0b0d0f;
  opacity: 0.7;
}
header input {
  background: #22272b !important;
  border: none !important;
  height: 2em !important;
  line-height: 2em !important;
  padding: 0;
  margin: 0.5em 0;
}
header .header_bt {
  background: none;
  border: none;
  padding: 0em !important;
}
header .header_icon {
  font-size: 1.5em;
  color: #e8bd6f;
}
header .header_item sup {
  background: #e10104;
  border: 1px solid #e8bd6f;
}
header .header_icon_input {
  width: 1.2em;
  height: 100%;
  line-height: 40%;
}
header .header_l {
  width: 10%;
  float: left;
  text-align: center;
  padding-top: 0.6em;
}
header .header_m {
  width: 80%;
  float: left;
  text-align: center;
}
header .header_r {
  width: 10%;
  float: left;
  text-align: center;
  padding-top: 0.6em;
}
