/* LESS Document */
/*配色*/
/*背景色*/
/*主题色*/
/*强调色*/
/*字体颜色*/
/*配色*/
a:link {
  color: #d3d0cb;
  text-decoration: none;
}
a:visited {
  color: #d3d0cb;
  text-decoration: none;
}
a:hover {
  color: #d3d0cb;
  text-decoration: none;
}
a:active {
  color: #d3d0cb;
  text-decoration: none;
}
/*字体*/
h1 {
  font-size: 1.2em;
  text-align: center;
}
html body {
  background: #22272b;
}
.end {
  margin-right: 0 !important;
}
.clear {
  clear: both;
}
/*流布局均等排列 */
/*流布局均等排列 */
/*流布局元素排列 */
/*流布局元素排列 */
/* modules less */
